body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-form {
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-suggestions {
  margin-top: 2px;
  -moz-appearance: none;
  -webkit-appearance: none;
  overflow: auto;
  border: 1px solid grey;
}

.search-suggestions selected {
  background-color: red;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}
.no-scroll::-moz-scrollbar {
  display: none;
}
.no-scroll::-o-scrollbar {
  display: none;
}
.no-scroll::-google-ms-scrollbar {
  display: none;
}
.no-scroll::-khtml-scrollbar {
  display: none;
}

.suggestions-empty {
  display: none;
}

.search-bar-text {
  width: 80%;
}

.search-bar-submit {
  width: 20%;
}

.search-suggestions {
  width: 100%;
}

/* Widget container and widgets */
.currently-showing {
  width: 100%;
  text-align: center;
  margin-top: 1em;
}

.widget-container {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.widget {
  margin: 1em 1em 0 0;
  padding: 0.5em;
  border: 1px solid grey;
  max-height: 40vh;
  box-sizing: border-box;
  overflow-y: auto;
  width: 45%;
}

.holiday-localname,
.book-title {
  font-style: italic;
}
